<div class="row justify-content-center">
  <div class="card">
    <div class="card-header">
      <h2> Edit </h2>
    </div>
    <div class="card-body">
      <p class="text-muted mb-0">
        Here is an item edit page
      </p>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/admin']"
              class="btn btn-outline-danger float-left"> Back
      </button>
    </div>
  </div>
</div>
