<div class="row justify-content-center">
  <div class="card">

    <div class="card-header">
      <h2> Authorization </h2>
      <p class="text-muted"> Authorise to enter </p>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="takenRole">Which role would you like to have?</label>
        <ng-select [formControl]="takeRoleControl"
                   [items]="rolesList"
                   id="takenRole"
                   class="w-100">
        </ng-select>
        <ng-container *ngIf=" takeRoleControl.touched && takeRoleControl.invalid">
                <span *ngIf="takeRoleControl.errors.required"
                      class="form-help-text"> Need to fill
                </span>
        </ng-container>
      </div>
    </div>
    <div class="card-footer">
      <button (click)="onSubmit()"
              class="btn btn-success float-right"> Go!
      </button>
    </div>
  </div>
</div>
