<div class="row justify-content-center">
  <div class="card">
    <div class="card-header">
      <h2> View </h2>
    </div>
    <div class="card-body">
      <h4 class="mb-3"> Here is an item view page </h4>
      <p class="text-muted">
        If you have <b class="text-uppercase">user</b> role you don't have edit component in bundle.<br/>
        You also get error message in console if you try to go to edit component
      </p>
      <p class="text-muted">
        If you have <b class="text-uppercase">admin</b> role here you have edit component in bundle.<br/>
        You can easily go to edit component
      </p>
      <p class="text-muted">
        Edit component has <i>console.log('HEY_I_AM_EDIT_COMPONENT')</i>. <br/>
        You can check build js files in 'network' developer tab by looking for this phrase
      </p>
    </div>
    <div class="card-footer">
      <button [routerLink]="['edit']"
              class="btn btn-success float-right"> Edit!
      </button>
    </div>
  </div>
</div>
